[Settings]
Registration = True
MOTD = True

[Messages]
greeting_with_registration = Welcome! type login or register (from config.ini)
greeting_without_registration = Welcome! type login. Registration currently closed (from config.ini)
motd_file = motd.txt

[Database]
host = localhost
user =
password =
database =

[DatabaseQueries]
user_check_query = SELECT password FROM users WHERE username = %s

[SSL]
certfile = C:/MAMP/bin/certs/uuu-websocket-test.cert
keyfile = C:/MAMP/bin/certs/uuu-websocket-test.key

[Server]
host = localhost
port = 7450
